# Frontend
frontend/node_modules
frontend/.next
frontend/out
frontend/.env*.local

# Backend
backend/var
backend/vendor
backend/.env.local

# Git
.git
.gitignore

# Docker
.docker
docker-compose*.yml
Dockerfile*

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
